@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Noto+Sans+JP:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

@import url('../fonts/UDEVGothicJPDOC-Regular.ttf');
@import url('../fonts/UDEVGothicJPDOC-Bold.ttf');
@import url('../fonts/UDEVGothicJPDOC-Italic.ttf');
@import url('../fonts/UDEVGothicJPDOC-BoldItalic.ttf');

code {
  font-family: "UDEV Gothic JPDOC", sans-serif;
  font-weight: bold;
}

/* raw の list.html で タイトルのフォントサイズを変更する */
#main #list li a {
  font-size: 22px;
}