<br>
<div id="font-controller">
  <label for="fontSizeInput">フォントサイズ:</label>
  <input type="number" id="fontSizeInput" value="15.0" min="1.0" style="width: 80px;" />
  <button id="increaseFontSize">+</button>
  <button id="decreaseFontSize">-</button>

  <br>

  <label for="fontWeightSelect">フォントウェイト:</label>
  <select id="fontWeightSelect">
    <option value="normal">Normal</option>
    <option value="bold">Bold</option>
    <!-- <option value="100">100</option>
    <option value="200">200</option>
    <option value="300">300</option>
    <option value="400">400</option>
    <option value="500">500</option>
    <option value="600">600</option> -->
    <!-- 他のフォントウェイトのオプションも追加可能 -->
  </select>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const content = document.querySelector('#content pre code');
      const fontSizeInput = document.getElementById('fontSizeInput');
      const increaseFontSize = document.getElementById('increaseFontSize');
      const decreaseFontSize = document.getElementById('decreaseFontSize');
      const fontWeightSelect = document.getElementById('fontWeightSelect');

      // フォントサイズの増減
      increaseFontSize.addEventListener('click', function () {
        fontSizeInput.value = parseFloat(fontSizeInput.value) + 1.0;
        updateFontSize();
      });

      decreaseFontSize.addEventListener('click', function () {
        fontSizeInput.value = parseFloat(fontSizeInput.value) - 1.0;
        updateFontSize();
      });

      fontSizeInput.addEventListener('change', updateFontSize);

      function updateFontSize() {
        content.style.fontSize = fontSizeInput.value + 'px';
      }

      // フォントウェイトの変更
      fontWeightSelect.addEventListener('change', function () {
        content.style.fontWeight = this.value;
      });
    });
  </script>

</div>