<br>
<div id="font-controller">
  <label for="fontSizeInput">フォントサイズ:</label>
  <input type="number" id="fontSizeInput" value="15.0" min="1.0" style="width: 80px;" />
  <button id="increaseFontSize">+</button>
  <button id="decreaseFontSize">-</button>

  <br>

  <label for="fontWeightSelect">フォントウェイト:</label>
  <select id="fontWeightSelect">
    <option value="normal">Normal</option>
    <option value="bold">Bold</option>
  </select>

  <br>

  <label for="fontFamilySelect">フォントファミリー:</label>
  <select id="fontFamilySelect">
    <option value="'MS Gothic', sans-serif">1: 'MS Gothic', sans-serif</option>
    <option value="'Noto Sans JP', sans-serif">2: 'Noto Sans JP', sans-serif</option>
    <option value="'M PLUS 1 Code', sans-serif">3: 'M PLUS 1 Code', sans-serif</option>
    <option value="'M PLUS 1 Code', monospace">4: 'M PLUS 1 Code', monospace</option>
    <option value="'UDEV Gothic JPDOC', sans-serif">5: 'UDEV Gothic JPDOC', sans-serif</option>
  </select>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const content = document.querySelector('#content pre code');
      const fontSizeInput = document.getElementById('fontSizeInput');
      const increaseFontSize = document.getElementById('increaseFontSize');
      const decreaseFontSize = document.getElementById('decreaseFontSize');
      const fontWeightSelect = document.getElementById('fontWeightSelect');

      // フォントサイズの増減
      increaseFontSize.addEventListener('click', function () {
        fontSizeInput.value = parseFloat(fontSizeInput.value) + 1.0;
        updateFontSize();
      });

      decreaseFontSize.addEventListener('click', function () {
        fontSizeInput.value = parseFloat(fontSizeInput.value) - 1.0;
        updateFontSize();
      });

      fontSizeInput.addEventListener('change', updateFontSize);

      function updateFontSize() {
        content.style.fontSize = fontSizeInput.value + 'px';
      }

      // フォントウェイトの変更
      fontWeightSelect.addEventListener('change', function () {
        content.style.fontWeight = this.value;
      });

      // フォントファミリーの変更
      const fontFamilySelect = document.getElementById('fontFamilySelect');
      fontFamilySelect.addEventListener('change', function () {
        content.style.fontFamily = this.value;
      });

    });
  </script>

</div>